<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Discover The Serengeti
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")
  link(rel="stylesheet", href="site/style.css")
body

  .thebg

  .container-fluid.topbar
    .col-sm-4.col-xs-12.title Discover The Serengeti
    .col-sm-6.col-xs-8.text Booking: 
      a(href="tel:52555525542") +52 55 552 5542 
      a(href="mailto:booking@discoverthederengeti.com") booking@discoverthederengeti.com
    .col-sm-2.col-xs-4.languages
      a(href="#").flag.active: img(src="site/img/usa.png", alt="English")
      a(href="#").flag: img(src="site/img/mex.png", alt="Spanish")
  
  header.container-fluid
    .col-md-4.col-xs-12
      h1
        span Discover The Serengeti
        img(src="site/img/discovertheserengeti.png", alt="Discover The Serengeti")
    .col-md-8.col-xs-12
      nav
        ul
          li: a(href="#discover" data-scroll).active Discover The Serengeti
          li: a(href="#expedition" data-scroll) Expedition Package
          li: a(href="#partners" data-scroll) Partners
          li: a(href="#contact" data-scroll) Contact
  
  section.area#discover
    .container-fluid
      .mainBanner
        div(style="background-image:url(site/img/serengeti-a.jpg)")
          .title
            | Discover 
            strong The Serengeti National Park
          .text Live the adventure
          a.action(href="#") Information
        div(style="background-image:url(site/img/serengeti-b.jpg)")
          .title
            | Discover 
            strong The Serengeti National Park
          .text Live the adventure
          a.action(href="#") Information
    .container.mt
      article.about.col-md-5
        .labelTitle DISCOVER <br>THE SERENGETI
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione iure magni, nam dignissimos obcaecati doloremque vero, nihil aperiam fuga eum mollitia dolore consectetur? Sed tenetur, et error doloremque totam.
      article.about.col-md-5.col-md-offset-2
        .labelTitle OUR <br>EXPERIENCE
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione iure magni, nam dignissimos obcaecati doloremque vero, nihil aperiam fuga eum mollitia dolore consectetur? Sed tenetur, et error doloremque totam.
  
  section.area#expedition
    .container
      mixin expeditionPack(title, text, url, img)
        a(href="#{url}" style="background-image:url(#{img})").expeditionPack
          .title !{title}
          .text #{text}
          .view VIEW EXPEDITION
      .col-md-5.col-md-offset-1: +expeditionPack('<strong>3 days classic lodge</strong> or adventure camping safari', 'Lake Manyara, Ngorongoro Crater, Tarangire National park.', '#ep-1', 'site/img/expedition-pack.jpg')
      .col-md-5: +expeditionPack('<strong>3 days classic lodge</strong> or adventure camping safari', 'Lake Manyara, Ngorongoro Crater, Tarangire National park.', '#ep-1', 'site/img/expedition-pack.jpg')
      .col-md-5.col-md-offset-1: +expeditionPack('<strong>3 days classic lodge</strong> or adventure camping safari', 'Lake Manyara, Ngorongoro Crater, Tarangire National park.', '#ep-1', 'site/img/expedition-pack.jpg')
      .col-md-5: +expeditionPack('<strong>3 days classic lodge</strong> or adventure camping safari', 'Lake Manyara, Ngorongoro Crater, Tarangire National park.', '#ep-1', 'site/img/expedition-pack.jpg')
  
  
  
  section.area#partners
    .partners
      div
        img(src="site/img/partner-1.png", alt="Partner")
        .titulo Antiloop
        .text Discovering Serengeti
      div
        img(src="site/img/partner-2.png", alt="Partner")
        .titulo Heart
        .text Discovering Serengeti
      div
        img(src="site/img/partner-3.png", alt="Partner")
        .titulo Jump
        .text Discovering Serengeti
      div
        img(src="site/img/partner-4.png", alt="Partner")
        .titulo Impala
        .text Discovering Serengeti
      div
        img(src="site/img/partner-5.jpg", alt="Partner")
        .titulo Elephant
        .text Discovering Serengeti
      div
        img(src="site/img/partner-6.jpg", alt="Partner")
        .titulo Chic Afrique
        .text Discovering Serengeti
    
  section.area#contact
    .container
      .col-md-6
        .title Contact Us
        .text
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae explicabo voluptatibus a aut animi. Voluptatibus ex impedit, harum repellat aliquam maxime dolorem dignissimos totam debitis, omnis enim est aperiam qui!
        form
          input(type="text" placeholder="Name")
          input(type="mail" placeholder="Email")
          input(type="text" placeholder="Phone number")
          textarea( placeholder="Message")
          button(typee="submit") Send
  
  footer
    .powered: a(href="http://www.bluepureloyalty.com/" target="_blank" ): img(src="site/img/PoweredByBlue.png", alt="Powered By Blue")
    nav: ul
      li: a(href="#") PRIVACY POLICY
      li: a(href="#") FAQ
    .blue: a(href="http://www.bluepureloyalty.com/" target="_blank" )
      img(src="site/img/blue.png", alt="Blue")
      p blue.mx
  

  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/11.1.0/js/smooth-scroll.min.js")
  script(src="site/script.js")
